<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xfb.xinfubao">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".MyApplication"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.NatKuangDetailActivity"></activity>
        <activity android:name=".activity.NatKuangActiveActivity" />
        <activity android:name=".activity.NATActiveActivity" />
        <activity android:name=".activity.ToExchangeActivity" />
        <activity android:name=".activity.CashInKuangChangActivity" />
        <activity android:name=".activity.UseProductActivity" />
        <activity android:name=".activity.CashoutBalanceActivity" />
        <activity android:name=".activity.CashInNatActivity" />
        <activity android:name=".activity.ShuHuiZhiYaActivity" />
        <activity android:name=".activity.ApplyZhiYaActivity" />
        <activity android:name=".activity.ZhiYaDetailActivity" />
        <activity android:name=".activity.CartActivity" />
        <activity android:name=".activity.CategoryActivity" />
        <activity android:name=".activity.OrderDetailActivity" />
        <activity android:name=".activity.MyOrderActivity" />
        <activity android:name=".activity.PayResultActivity" />
        <activity android:name=".activity.AuthResultActivity" />
        <activity android:name=".activity.AuthByPassportActivity" />
        <activity android:name=".activity.AuthByIdCardActivity" />
        <activity android:name=".activity.AuthenticationActivity" />
        <activity android:name=".activity.ChangePasswordActivity" />
        <activity android:name=".activity.InviteFriendActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.SafeCenterActivity" />
        <activity android:name=".activity.MyMessageActivity" />
        <activity android:name=".activity.MyTeamActivity" />
        <activity android:name=".activity.AddAddressActivity" />
        <activity android:name=".activity.AddressManagerActivity" />
        <activity android:name=".activity.InputNikeActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.NATClubActivity" />
        <activity android:name=".activity.CashOutRecordActivity" />
        <activity android:name=".activity.ApplyCashOutResultActivity" />
        <activity android:name=".activity.ApplyCashOutActivity" />
        <activity android:name=".activity.YinXingbaoActivity" />
        <activity android:name=".activity.TransferActivity" />
        <activity android:name=".activity.BalanceActivity" />
        <activity android:name=".activity.MoneyExchangeActivity" />
        <activity android:name=".activity.CashInActivity" />
        <activity android:name=".activity.ConfirmOrderActivity" />
        <activity android:name=".activity.WebviewActivity" />
        <activity android:name=".activity.ProductDetailActivity" />
        <activity android:name=".activity.ResetPasswordActivity" />
        <activity android:name=".activity.ForgetPasswordActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.GuideActivity" />
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="414" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="896" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jsf.piccompresstest"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.xfb.xinfubao"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <!-- 这里填写你申请的app id -->
                <data android:scheme="wxa70a398c8a7adbe1" />
            </intent-filter>
        </activity>
    </application>

</manifest>